@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap");
html,
body {
  font-family: "Sora", sans-serif !important;
  background-image: url(../img/patternbg.svg);
  background-position: -181px;
  min-height: 100vh;
}
body {
  background-color: #3c3c3c !important;
}
.bt-actions {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.btn-theme {
  color: white !important;
  background: linear-gradient(90deg, #ff753e, #ff3260);
  font-size: 16px !important;
  font-weight: bold !important;
  width: 49.5%;
  padding: 21px 0px !important;
}
.btn-theme-out {
  color: #ff355f !important;
  border: 2px solid #ff355f !important;
  background: white;
  font-size: 16px !important;
  font-weight: bold !important;
  width: 49.5%;
  padding: 21px 0px !important;
}

.cardslimg {
  border: 10px solid white !important;
}

.place-parent {
  position: relative;
  min-height: 100%;
  z-index: 9;
}
.place-parent img {
  z-index: 9999;
}
.placeholder {
  background-color: rgba(255, 0, 0, 0.514);
  width: 100%;
  height: 30px;
  position: absolute;
  height: 100%;
  z-index: -9;
  /* top: 0; */
}
.wholff {
  position: relative;
}
.uploadimgg {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 9;
  background: #000000a3;
  height: 100%;
  padding-top: 43%;
  cursor: pointer;
}
.arrowsvg {
  animation: bounce 2s ease-in infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
