<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>#EndSARS</title>
    <meta name="title" content="#EndSARS" />
    <meta name="description" content="#EndPoliceBrutality #EndSARS #EndSWAT" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ejoya-endsars.netlify.app/" />
    <meta property="og:title" content="#EndSARS" />
    <meta
      property="og:description"
      content="#EndPoliceBrutality #EndSARS #EndSWAT"
    />
    <meta
      property="og:image"
      content="https://ejoya-endsars.netlify.app/img/endsarpreview.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://ejoya-endsars.netlify.app/" />
    <meta property="twitter:title" content="#EndSARS" />
    <meta
      property="twitter:description"
      content="#EndPoliceBrutality #EndSARS #EndSWAT"
    />
    <meta
      property="twitter:image"
      content="https://ejoya-endsars.netlify.app/img/endsarpreview.png"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <meta name="theme-color" content="#ff365e" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mx-auto">
            <div class="card cardslimg mt-5">
              <div class="card-body p-0">
                <div class="wholff">
                  <div class="place-parent">
                    <div
                      class="placeholder"
                      v-if="displaypic"
                      :style="`background-image: url(${displaypic})`"
                    ></div>
                    <img
                      v-if="uploadInput"
                      src="./img/buju.png"
                      class="img-fluid"
                      alt=""
                    />
                    <img v-else src="./img/temp.png" class="img-fluid" alt="" />
                  </div>

                  <label
                    v-if="uploadInput"
                    for="file-upload"
                    class="addPostbtn"
                  >
                    <div class="text-center uploadimgg">
                      <img
                        src="./img/arrow.svg"
                        height="50"
                        class="arrowsvg"
                        class="mb-2"
                        alt=""
                      />
                      <p class="text-white font-weight-bold">
                        Click to Upload your image
                      </p>
                    </div>
                  </label>
                </div>
                <p class="text-center mt-4">
                  Upload your image and take a stand.<span
                    class="font-weight-bold pl-2"
                    >#EndSARS</span
                  >
                </p>
              </div>

              <input
                class="fileUploadd d-none"
                id="file-upload"
                type="file"
                accept="image/png, image/jpeg, image/jpg"
                @change="getUserImage($event)"
              />
              <div class="mt-5 bt-actions" style="margin-bottom: -1px">
                <a href="#" class="btn btn-theme">DOWNLOAD</a>
                <a href="#" class="btn btn-theme-out">SHARE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/script.js"></script>
</html>
